<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= t("show.title")%></h1>
      <h3><%= t("show.context")%></h3>
    </div>
  </div>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-4">
        <% image = product.image.attached? ? product.image : 'item.jpg' %>
        <p> <%= image_tag image, size:"200x200" %></p>
        <p> <%= link_to(product.title, product_path(product) )%></p>
      </div>
    <%end%>
  </div>
<%= link_to t("show.give"), new_product_path, class: 'btn btn-primary' %>
</div>
