<div class="container">
  <h1 ><%= t("show.title")%></h1>
    <div class="row">
      <div class="col">
        <h3><%= @product.title %></h3>
        <p><%= @product.about %></p>
        <%= t("product.delivery")%>
        <h4><%= @product.delivery.humanize %></h4>
        <%= t("product.price")%>
        <h4><%= @product.state.humanize %></h4>
      </div>
      <div class = "col">
        <% image = @product.image.attached? ? @product.image : 'item.jpg' %>
        <p> <%= image_tag image, size:"350x350" %></p>
    </div>
    <% if @product.own?(current_user) %>
      <%= render 'edit_button', product: @product %>
    <% elsif not_in_wishlist?(@product, current_user) %>
      <%= button_to t("button.get"),  wishlists_path, params:{ product_id: @product.id }, class: "btn btn-primary" %>
    <% else%>
      <h4><%= t('wishlist.phone')%></h4>
      <h3><%= @product.owner.phone_number%></h3>
    <%end%>
  <p> <%= link_to t("button.root"), :root %> </p>
</div>
